{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
<div class="text-center">
    <h1>S'enregistrer</h1>
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn bg-success">S'enregistrer</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
